<nav class="navbar">
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Bluestar_%28bus_company%29_logo.svg/1280px-Bluestar_%28bus_company%29_logo.svg.png" alt="Company Logo">
  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="nav no-search">
    <li class="nav-item"><a routerLink="/">Home</a></li>
    <li class="nav-item"><a routerLink="/users">Users</a></li>
    <li class="nav-item"><a routerLink="/posts">Posts</a></li>
    
    
  </ul>
</nav>
<router-outlet></router-outlet>